body {
  text-align: center;
  background-color: #54A4AF;
}

#level-title {
  font-family: cursive;
  font-size: 3rem;
  margin:  5%;
  color: #254B62;
}

i{
  color: #254B62;
}

.fa-lightbulb{
  position: absolute;
  top: 30px;
  right: 10px;
}

.volume{
  position: absolute;
  top: 30px;
  right: 50px;
}

.description{
  font-family: 'Raleway', sans-serif;
  display: none;
  width: 20%;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #DBE4C6;
  border-radius: 2rem;
  line-height: 2rem;
  text-align: left;
  padding: 20px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #1D3E53;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #EA5455;
}

.green {
  background-color: #539165;
}

.blue {
  background-color: #2F58CD;
}

.yellow {
  background-color: #FFD966;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
